<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>ISDCF Language Tags</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between d-print-block">
    <a class="navbar-brand" href="#">ISDCF Language Tags <span class="badge badge-danger">Experimental</span></a>
    <ul class="navbar-nav d-print-none">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/sandflow/melt/">Get the code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{pdf_path}}">Download as PDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{json_path}}">Download as JSON</a>
      </li>
    </ul>
  </nav>
  <table class="table table-striped table-hover container">
    <thead class="thead-light">
      <tr>
        <th scope="col">Language</th>
        <th scope="col"><a href="https://tools.ietf.org/html/rfc5646">RFC 5646</a> Language Tag<br><small>for use throughout the DCP</small></th>
        <th scope="col">Language Code<br><small>for use in the naming convention</small></th>
        <th scope="col">Intended use</th>
      </tr>
    </thead>
    <tbody>
      {{#melt.data}}
      <tr>
        <td>{{displayName}}</td>
        <td>
          <pre>{{rfc5646Tag}}</pre>
        </td>
        <td>
          {{#if dcncTag}}
          <pre>{{dcncTag}}</pre>
          {{else}}
          <em>n/a</em>
          {{/if}}
        </td>
        <td>
          {{#isdcfUse}}
          <p class="badge badge-secondary">{{this}}</p>
          {{/isdcfUse}}
        </td>
      </tr>
      {{/melt.data}}
    </tbody>
  </table>
</body>

</html>